<div class="container">
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Tile</th>
                <th>Author</th>
                <th>Country</th>
                <th>Language</th>
                <th>Link</th>
                <th>Pages</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.author}}</td>
                <td>{{this.country}}</td>
                <td>{{this.language}}</td>
                <td><a href = {{this.link}}>Link</a></td>
                <td>{{this.pages}}</td>
                <td>{{this.year}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>